body{
    margin: 0;
    padding: 0;
}
.contenido{
    background-image:url(./images/fotoPrincipal.png);
    background-size: cover;
    width: 100vw;
    height: 90vh;
    
}
.contenido .fondonegro{
    background-color: rgba(0, 0, 0, 0.655);
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    text-align: center;
   
}
.contenido h1{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    letter-spacing: 50px;
    font-style: normal;
    color: rgba(245, 245, 220, 0.694);
    font-size: 35px;
   
   
}
.contenido i{
    color: rgba(245, 245, 220, 0.694);
    font-size: 40px;
}