body{
    margin: 0;
    padding: 0;
    font-family:"Rubik", sans-serif;
}
.contenido{
    background-image:url(./images/fotoPrincipal.png);
    background-size: cover;
    height: 100vh;
    
    
}
.contenido .fondonegro{
    background-color: rgba(0, 0, 0, 0.655);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    text-align: center;
   
}
.contenido h1{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    letter-spacing: 50px;
    font-style: normal;
    color: rgba(245, 245, 220, 0.694);
    font-size: 35px;
   
   
}
.contenido i{
    color: rgba(245, 245, 220, 0.694);
    font-size: 40px;
}


.tarjetas{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.tarjetas h1{
    
    font-size: 50px;
    letter-spacing: 5px;
    margin:30px
}
.tarjetas .productos{
    width: 100%;
   
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    
}

.tarjetas .productos .caja{
     background-color: black;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    padding-bottom: 10px;
    
}
.tarjetas .productos .caja .precio {
    color: white;
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 0.2rem;
}

.tarjetas .productos .caja .vermas {
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 2rem;
    letter-spacing: 2px;
}

.tarjetas .productos .caja .vermas:hover {
    color: black;
    border: 1px solid black;
    background-color: white;
    font-weight: 600;
    transition: all ease 0.3s;
    cursor: pointer;
}

.tarjetas .productos .caja img{
    width: 300px;
    height: 350px;
    object-fit: cover;
}
.tarjetas .productos .caja h2{
    color: beige;
    font-size: 20px;
    letter-spacing: 5px;

}


footer {
background-color: black;
height: 200px;
display: flex;
flex-direction: row;
justify-content:center;
align-items:center

}

footer i{
    color: aliceblue;
    font-size: 40px;
    padding: 5px;
}
header h1{
    color: aliceblue;
    font-size: 40px;
    padding: 5px;
}
header{
    background-color: black;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center  
}